@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-screen;
  @apply bg-gray-900;
  @apply text-gray-100;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

span {
  font-weight: bold;
  color: #2563eb;
}
